_031_Bootstrap_Hastane_Deneme/Service References/ServiceReferenceDoldur/WebServiceDoldur.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DoldurSehir">
        <s:complexType />
      </s:element>
      <s:element name="DoldurSehirResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DoldurSehirResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DoldurSehirSoapIn">
    <wsdl:part name="parameters" element="tns:DoldurSehir" />
  </wsdl:message>
  <wsdl:message name="DoldurSehirSoapOut">
    <wsdl:part name="parameters" element="tns:DoldurSehirResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceDoldurSoap">
    <wsdl:operation name="DoldurSehir">
      <wsdl:input message="tns:DoldurSehirSoapIn" />
      <wsdl:output message="tns:DoldurSehirSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceDoldurSoap" type="tns:WebServiceDoldurSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoldurSehir">
      <soap:operation soapAction="http://tempuri.org/DoldurSehir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceDoldurSoap12" type="tns:WebServiceDoldurSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoldurSehir">
      <soap12:operation soapAction="http://tempuri.org/DoldurSehir" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceDoldur">
    <wsdl:port name="WebServiceDoldurSoap" binding="tns:WebServiceDoldurSoap">
      <soap:address location="http://localhost:51637/webservis/WebServiceDoldur.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceDoldurSoap12" binding="tns:WebServiceDoldurSoap12">
      <soap12:address location="http://localhost:51637/webservis/WebServiceDoldur.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>