_031_Bootstrap_Hastane_Deneme/Service References/ServiceReferenceDoktorAra/WebServiceDoktorAra.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DoktorGetir">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="prefix" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoktorGetirResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DoktorGetirResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DoktorGetirSoapIn">
    <wsdl:part name="parameters" element="tns:DoktorGetir" />
  </wsdl:message>
  <wsdl:message name="DoktorGetirSoapOut">
    <wsdl:part name="parameters" element="tns:DoktorGetirResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceDoktorAraSoap">
    <wsdl:operation name="DoktorGetir">
      <wsdl:input message="tns:DoktorGetirSoapIn" />
      <wsdl:output message="tns:DoktorGetirSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceDoktorAraSoap" type="tns:WebServiceDoktorAraSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoktorGetir">
      <soap:operation soapAction="http://tempuri.org/DoktorGetir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceDoktorAraSoap12" type="tns:WebServiceDoktorAraSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoktorGetir">
      <soap12:operation soapAction="http://tempuri.org/DoktorGetir" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceDoktorAra">
    <wsdl:port name="WebServiceDoktorAraSoap" binding="tns:WebServiceDoktorAraSoap">
      <soap:address location="http://localhost:51637/webservis/WebServiceDoktorAra.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceDoktorAraSoap12" binding="tns:WebServiceDoktorAraSoap12">
      <soap12:address location="http://localhost:51637/webservis/WebServiceDoktorAra.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>