_031_Bootstrap_Hastane_Deneme/Service References/ServiceReferenceListele/WebServiceListele.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ListeleDoktor">
        <s:complexType />
      </s:element>
      <s:element name="ListeleDoktorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListeleDoktorResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListeleDoktorSoapIn">
    <wsdl:part name="parameters" element="tns:ListeleDoktor" />
  </wsdl:message>
  <wsdl:message name="ListeleDoktorSoapOut">
    <wsdl:part name="parameters" element="tns:ListeleDoktorResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceListeleSoap">
    <wsdl:operation name="ListeleDoktor">
      <wsdl:input message="tns:ListeleDoktorSoapIn" />
      <wsdl:output message="tns:ListeleDoktorSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceListeleSoap" type="tns:WebServiceListeleSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListeleDoktor">
      <soap:operation soapAction="http://tempuri.org/ListeleDoktor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceListeleSoap12" type="tns:WebServiceListeleSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListeleDoktor">
      <soap12:operation soapAction="http://tempuri.org/ListeleDoktor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceListele">
    <wsdl:port name="WebServiceListeleSoap" binding="tns:WebServiceListeleSoap">
      <soap:address location="http://localhost:51637/webservis/WebServiceListele.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceListeleSoap12" binding="tns:WebServiceListeleSoap12">
      <soap12:address location="http://localhost:51637/webservis/WebServiceListele.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>