_031_Bootstrap_Hastane_Deneme/Service References/ServiceReferenceDoktor/WebServiceDoktor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Ekle">
        <s:complexType />
      </s:element>
      <s:element name="EkleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EkleResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Guncelle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="doktorID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuncelleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GuncelleResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Kontrol">
        <s:complexType />
      </s:element>
      <s:element name="KontrolResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KontrolResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EkleSoapIn">
    <wsdl:part name="parameters" element="tns:Ekle" />
  </wsdl:message>
  <wsdl:message name="EkleSoapOut">
    <wsdl:part name="parameters" element="tns:EkleResponse" />
  </wsdl:message>
  <wsdl:message name="GuncelleSoapIn">
    <wsdl:part name="parameters" element="tns:Guncelle" />
  </wsdl:message>
  <wsdl:message name="GuncelleSoapOut">
    <wsdl:part name="parameters" element="tns:GuncelleResponse" />
  </wsdl:message>
  <wsdl:message name="KontrolSoapIn">
    <wsdl:part name="parameters" element="tns:Kontrol" />
  </wsdl:message>
  <wsdl:message name="KontrolSoapOut">
    <wsdl:part name="parameters" element="tns:KontrolResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceDoktorSoap">
    <wsdl:operation name="Ekle">
      <wsdl:input message="tns:EkleSoapIn" />
      <wsdl:output message="tns:EkleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Guncelle">
      <wsdl:input message="tns:GuncelleSoapIn" />
      <wsdl:output message="tns:GuncelleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Kontrol">
      <wsdl:input message="tns:KontrolSoapIn" />
      <wsdl:output message="tns:KontrolSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceDoktorSoap" type="tns:WebServiceDoktorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ekle">
      <soap:operation soapAction="http://tempuri.org/Ekle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Guncelle">
      <soap:operation soapAction="http://tempuri.org/Guncelle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Kontrol">
      <soap:operation soapAction="http://tempuri.org/Kontrol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceDoktorSoap12" type="tns:WebServiceDoktorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ekle">
      <soap12:operation soapAction="http://tempuri.org/Ekle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Guncelle">
      <soap12:operation soapAction="http://tempuri.org/Guncelle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Kontrol">
      <soap12:operation soapAction="http://tempuri.org/Kontrol" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceDoktor">
    <wsdl:port name="WebServiceDoktorSoap" binding="tns:WebServiceDoktorSoap">
      <soap:address location="http://localhost:51637/webservis/WebServiceDoktor.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceDoktorSoap12" binding="tns:WebServiceDoktorSoap12">
      <soap12:address location="http://localhost:51637/webservis/WebServiceDoktor.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>