_031_Bootstrap_Hastane_Deneme/Service References/ServiceReferenceGiris/WebServiceGiris.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="UyeGirisYap">
        <s:complexType />
      </s:element>
      <s:element name="UyeGirisYapResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UyeGirisYapResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoktorGirisYap">
        <s:complexType />
      </s:element>
      <s:element name="DoktorGirisYapResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DoktorGirisYapResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UyeGirisYapSoapIn">
    <wsdl:part name="parameters" element="tns:UyeGirisYap" />
  </wsdl:message>
  <wsdl:message name="UyeGirisYapSoapOut">
    <wsdl:part name="parameters" element="tns:UyeGirisYapResponse" />
  </wsdl:message>
  <wsdl:message name="DoktorGirisYapSoapIn">
    <wsdl:part name="parameters" element="tns:DoktorGirisYap" />
  </wsdl:message>
  <wsdl:message name="DoktorGirisYapSoapOut">
    <wsdl:part name="parameters" element="tns:DoktorGirisYapResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceGirisSoap">
    <wsdl:operation name="UyeGirisYap">
      <wsdl:input message="tns:UyeGirisYapSoapIn" />
      <wsdl:output message="tns:UyeGirisYapSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DoktorGirisYap">
      <wsdl:input message="tns:DoktorGirisYapSoapIn" />
      <wsdl:output message="tns:DoktorGirisYapSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceGirisSoap" type="tns:WebServiceGirisSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UyeGirisYap">
      <soap:operation soapAction="http://tempuri.org/UyeGirisYap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoktorGirisYap">
      <soap:operation soapAction="http://tempuri.org/DoktorGirisYap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceGirisSoap12" type="tns:WebServiceGirisSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UyeGirisYap">
      <soap12:operation soapAction="http://tempuri.org/UyeGirisYap" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoktorGirisYap">
      <soap12:operation soapAction="http://tempuri.org/DoktorGirisYap" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceGiris">
    <wsdl:port name="WebServiceGirisSoap" binding="tns:WebServiceGirisSoap">
      <soap:address location="http://localhost:51637/webservis/WebServiceGiris.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceGirisSoap12" binding="tns:WebServiceGirisSoap12">
      <soap12:address location="http://localhost:51637/webservis/WebServiceGiris.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>